# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Env & secrets
.env
.env.*
!.env.example

# Builds/coverage
dist/
build/
coverage/

# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Temporales tu máquina
.tmp.driveupload/
*.tmp

# Logs
logs/
*.log
